html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#form-page {
    position: relative;
    background-image: url(../img/background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#registerForm {
    position: absolute;
    width: 638px;
    height: 630px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px;
    background-color: #EDF2F4;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.change-form {
    width: 418px;
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2B2D42;
    border-radius: 32px;
    padding: 0;
    margin-bottom: 34px;
}

.btn-login {
    background: #2B2D42;
    text-decoration: none;
    color: white;
    cursor: pointer;
    height: 100%;
    width: 219px;
    font-size: 32px;
    padding: 7px 50px;
    border-radius: 32px;
}

.btn-register {
    background: #EF233C;
    text-decoration: none;
    color: white;
    height: 105%;
    width: 219px;
    font-size: 32px;
    cursor: pointer;
    padding: 9px 50px;
    border-radius: 32px;
}

.form-input {
    padding-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.input-field {
    width: 418px;
    height: 67px;
    background-color: #8D99AE;
    color: white;
    border-radius: 40px;
}

.input-field::placeholder {
    color: white;
}

#message {
    text-align: center;
    width: 100%;
}

#registerForm button {
    border-radius: 40px;
    width: 200px;
    height: 60px;
    background-color: #EF233C;
    border: none;
    font-size: 32px;
    color: white;
}

#registerForm button:hover {
    background-color: #D90429;
    cursor: pointer;
}

.terms-text {
    color: #D90429;
    margin-top: 24px;
    text-align: center;
}